---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Who's Tiny Dust"
	pubDate={new Date('Last Update: July 6 2026')}
>	
	<p>
		I've never been very good at self-introduction. 
		It's just hard to condense years of life into a few sentences.
		But since space isn't the issue here, I'll try to be both expressive and concise.
	</p>

	<p>
		I had a slew of titles before: UX designer, manager, coach. I wrote for work, about work. 
		But after 12 years, I hit a wall and couldn't produce a single word.
		Then in 2025, I decided to try something new - build just for me.
		In this process, I found my voice of writing again, but this time only on things that bring me joy.
	</p>

	<p>	
		I write in both English and Chinese, depending on the topic.
		I also write on Substack, but this place is more like an unfiltered view into my inner world, 
		which is why it's an independent little site (no large platforms pls)!
	</p>

	<p>
		I'm still in the process of building this space out, so be sure to check back :).
	</p>

		<p>
		从前的主业是体验设计师，也做过设计经理和职涯/生涯教练。2025年是我的转折点，我开始更好奇如何打造一个属于自己的事业。
	</p>

	<p>
		2025年底我开始用中文公开写作，最开始在Substack，现在移居这个完全属于自己的小角落。
		这里记载的东西会更杂，也会用中英两种语言换着写，因为我希望它能成为一个完全不受限的、能真实记录自己的地方。
	</p>
	<p>
		基于这个新“家”刚建成没多久，在未来的日子里我会持续更新。欢迎随时回来查看更新。
	</p>
	<hr  />
	<h2>
		📚 Books I love
	</h2>
	
	<p>
	The Miracles of the Namiya General Store <br>
	Four Thousand Weeks <br>
	Maybe You Should Talk to Someone <br>
	The Midnight Library <br>
	《命运》(Fate by Cai Chongda) <br>
	《草民》(Grassroots by Cai Chongda) <br>
	《皮囊》(Vessel: A Memoir by Cai Chongda) <br>
	Why Fish Don't Exist* <br>
	</p>
	<p class="footnote">
	*tbh this book didn't move me the way the others did, 
	but it came at exactly the right moment, and that's what left the mark
	</p>
	<hr  />
	<h2>
		🎵 Songs with good memories
	</h2>
	<p>
	<a href="https://youtu.be/U-bvp_hsinw?si=ehNRZWyC4uDXaPxn">喜欢你(Like you)</a>
	</p>
</Layout>
