---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Tiny Dust">
		<main class="container">
			<h3>
				To write is to get closer — to the self, to the world.
			</h3>
			<p>Someone once asked me why I write.
			It used to be for work, for proving a point. 
			Now it's for witnessing.
			Compared to the emotional release in journaling, this is more like
			opening up a part of myself, restructuring it and presenting it to you.
			The stories - funny or heavy - they become complete by being told, and permanent parts of the world.
			</p>
			<p>
			Lately I've been studying human anatomy, trying to get better at telling good health information 
			from bad.</p>
			<hr  />
			<h3>
				写作是为了更好地靠近自己和世界
			</h3>
			<p>
				有人问我为什么要写作。 曾经的写作是为了工作、为了论证，现在的写作是为了见证。
				比起日记写作中纯粹的情绪宣泄，这更像是将属于自己的一部分打开、重组、展现在你眼前。
				那些或有趣或深沉的故事，因为被讲述出来而得以结束，永远成为这个世界的一部分。</p>
			<p>
				最近在学习人体解剖学，因为希望可以更好地筛选和选择关于健康和健身信息。
			</p>
			<hr  />
			<h3>Some of my favourite pieces</h3>
			<ul>
				<li><a href="/blog/depositing-for-the-future">Depositing for the future</a></li>
				<li><a href="/blog/fish-do-not-exist">Fish don't exist</a></li>
			</ul>
		</main>
</BaseLayout>







